Xft.antialias:	1
Xft.hinting:	1
Xft.autohint:	0
Xft.hintstyle:	hintslight
Xft.rgba:	rgb
Xft.lcdfilter:	lcddefault
Xcursor.theme: phinger-cursors-light
Xcursor.size: 24

st.borderpx: 2

st.alpha: 1.0
st.font: JetBrainsMono Nerd Font:style:medium:pixelsize=16
dmenu.font: Ubuntu:pixelsize=14

#include ".config/qthemes/xres-DoomOne"
