Xft.antialias:	1
Xft.hinting:	1
Xft.autohint:	0
Xft.hintstyle:	hintslight
Xft.rgba:	rgb
Xft.lcdfilter:	lcddefault
Xcursor.theme: Bibata-Modern-Ice
Xcursor.size: 24

! window padding
! st.borderpx: 10

!-- values between 0.1  - 1.0 --! 

st.alpha: 0.8
st.font:           JetBrainsMono Nerd Font:style:medium:pixelsize=16

*background: #282c34
*foreground: #bbc2cf

! Black + DarkGrey
*color0:  #1c1f24
*color8:  #e6e6e6

! DarkRed + Red
*color1:  #ff6c6b
*color9:  #ff6c6b

! DarkGreen + Green
*color2:  #98be65
*color10: #98be65

! DarkYellow + Yellow
*color3:  #da8548
*color11: #da8548

! DarkBlue + Blue
*color4:  #51afef
*color12: #51afef

! DarkMagenta + Magenta
*color5:  #c678dd
*color13: #c678dd

! DarkCyan + Cyan
*color6:  #46d9ff
*color14: #46d9ff

! LightGrey + White
*color7:  #e6e6e6
*color15: #efefef

dmenu.background: #3b4252
dmenu.selbackground: #88c0d0
dmenu.hlforeground: #d8dee9
dmenu.selhlforeground: #eceff4
