Xft.antialias:	1
Xft.hinting:	1
Xft.autohint:	0
Xft.hintstyle:	hintslight
Xft.rgba:	rgb
Xft.lcdfilter:	lcddefault
Xcursor.theme: phinger-cursors-light
Xcursor.size: 24

st.borderpx: 0

st.alpha: 1.0

st.font: JetBrainsMono Nerd Font:medium:pixelsize=17:antialias=true:autohint=true
! st.font: IosevkaTerm Nerd Font Mono:medium:pixelsize=18:antialias=true:autohint=true
! st.font: Mononoki Nerd Font Mono:medium:pixelsize=18:antialias=true:autohint=true

dmenu.font: Ubuntu:pixelsize=14

#include ".config/qtile/themes/xres-DoomOne"
